@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #F7F7F7;
  --medium-gray: #cccccc;
  --dark-gray: #333333;
  --light-blue: #89CFF0;
  --background: #ffffff;
  --foreground: #000000;
}

:root.dark {
  --white: #111111;
  --medium-gray: #262a18;
  --dark-gray: #cccccc;
  --light-blue: #89CFF0;
  --background: #080A00;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[contenteditable] ul,
.prose-meditation ul {
  list-style: disc;
  padding-left: 1.5rem;
}

[contenteditable] ol,
.prose-meditation ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
